// Place all the styles related to the boggle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.boggle {
  display: block;
  grid-column: 5 / 9;
  grid-row: 1;
  text-align: center;
  width: 100%;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.letter {
  background-color: white;
  border: 5px solid #0E7798;
  font-size: 60px;
  max-width:100px;
  max-height:100px;
  display: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.input-form {
  margin-top: 25px;
}

.board-container {
  margin-left: 428px;
}

.form-container {
  text-align: center;
}

.error-message {
  margin-left: 15px;
}

.word-list {
  width: 25%;
  margin-left: 18px;
}

.highscore-list {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 25px;
}

.word-list {
  float: left;
}

.list-title, .highscore-title {
  background-color: cyan;
  text-align: center;
  height: 30px;
}

ul {
  background: #3399ff;
  padding: 20px;
}

ul li {
  background: #cce5ff;
  margin: 5px;
}

.start-button {
  text-align: center;
  margin-top: 10px;
}

.end-button {
  float: right;
  margin-right: 15px;
}

.end-game {
  top:0%;
  left:50%;
  width:400px;
  height:275px;
  margin-left:-200px;
  margin-top:-200px;
  display: block;
  justify-content: center;
  text-align: center;
  background-color: white;
  margin-top: 75px;
  margin-bottom: 75px;
  padding: 50px 24px 0 24px;
  border: 2px solid black;
  box-shadow: 10px 10px 5px #888888;
  position: absolute;
  font-family: initial;
  background: cyan;
}

.high-score-list {

}

.highscore-ul {
  background-color: lightblue;
}

.form, .score-section {
  box-sizing: border-box;
  display: inline-block;
  width: 27%;
}

.score-section {
  border: 2px solid #008CBA;
  width: 104px;
  height: 36px;
  text-align: center;
  padding: 5px 0 0 0;
  margin: 0 0 0px 9px;
  border-radius: 20px
}

.header {
  background: cadetblue;
  text-align: center;
  height: 58px;
  font-style: italic;
  font-family: serif;
  color: currentColor;
}

.timer {
  text-align: center;
  color: red;
  background: black;
  margin-bottom: 18px;
}
